/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2018, 12:18:17
    Author     : eduardoamaral
*/

@media all {

    @page {
        size: A4;
        margin: 0mm;
    }

    /* Impressão */
    .caixa-cabecalho{
        border: 1px solid black;
        min-height: 27px;
        max-height: 60px;
        text-transform: uppercase;
        font-size: 8px;
        padding: 1px 0 0 2px;
    }

    .row{
        display: flex;
    }

    .column{
        flex-direction: column;
    }

    .row div{
        margin: 1px;
        display: flex;
    }

    .container-prova{
        white-space: pre-line;
    }

    .prova-alternativa{
        padding-left: 1.5em;
    }

    .cabecalho{
        width: 100%;
        white-space: nowrap;
    }

    .logo-ifpe{
        padding: 1px;
        width: 182px;
        height: 62px;
        text-align: center;
    }

    .text-center{
        text-align: center;
    }
    
    label{
        font-weight: bold;
    }

    head{
        display: none;
    }

    body{
        margin: 3cm 2cm 2cm 3cm;
        width: 210mm;
        height: 297mm;
    }
}

@media screen {
    body{
        width: 210mm;
        margin: 0 auto !important;
    }
}