/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2018, 3:23:42 PM
    Author     : eduardo.f.amaral
*/

body{
    height: 100%;
}

.container-principal{
    padding-top: 40px; 
}

.font-color-default{
    color: white;
}

.container-answers{
    min-height: 100px;
}

textarea{
    resize: none !important;
}

label{
    font-weight: bold;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

/* Dialog */
.ui-dialog .ui-dialog-titlebar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecef !important;
    border-top-left-radius: .3rem !important;
    border-top-right-radius: .3rem !important;
    padding: 1rem !important;
    position: initial !important;
    font-weight: bold;
    line-height: 1.5;
    font-size: 1.25rem;
}

.ui-confirm-dialog .ui-dialog-content {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem !important;
}

.ui-dialog .ui-dialog-buttonpane{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.ui-dialog {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    min-width: 450px;
}

.ui-shadow {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2) !important;
}

.ui-widget-overlay{
  background: rgba(0,0,0,0.5);
}

/* Menu */
.nav-link{
    color: white !important;
}

/* BlockUI */
.ui-blockui-content.ui-shadow {
    box-shadow: none !important;
}

.ui-blockui.ui-widget-overlay{
    background: transparent;
}

/* Icons */
.material-icons{
    color: black !important;
}

/* List Table */
.container-table{
    max-height: 540px;
    margin-bottom: 40px !important;
}

.table-questoes{
    display: block;
    overflow-x: scroll;
    max-height: 100%;
}

.table-questoes td:nth-child(2){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-questoes th:first-child{
    width: 202px;
}

.table-questoes th:nth-child(2){
    width: 651px;
}

.table-questoes td:nth-child(2){
    max-width: 651px;
}

.table-questoes th:last-child{
    width: 80px;
}

/* Generate Table */
.container-table-prova{
    max-height: 460px;
    margin-bottom: 40px !important;
}

.table-questoes-prova{
    display: block;
    overflow-x: scroll;
    max-height: 100%;
}

.table-questoes-prova th:first-child{
    width: 25px;
}

.table-questoes-prova td:nth-child(2){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px !important;
    width: 100%;
}

/* Button */

.btn-primary{
    background-color: #19882c !important;
}

.btn-secondary {
    background-color: #7f7f7f !important;
}

/* Background */
.bg-select-menu {
    background-color: #EEE;
    border: 1px solid #C3C3C3 !important;
}

.bg-select-menu option {
    background-color: #FAFAFA;
}

.bg-default{
    background-color: #19882c;
}