/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2018, 3:23:42 PM
    Author     : eduardo.f.amaral
*/

.container-principal{
    padding-top: 40px; 
}

.bg-default{
    background-color: #19882c;
}

.font-color-default{
    color: white;
}

.container-answers{
    min-height: 100px;
}

.ui-blockui-content.ui-shadow {
    box-shadow: none;
}

textarea{
    resize: none !important;
}

.bg-select-menu {
    background-color: #EEE;
    border: 1px solid #C3C3C3 !important;
}

.bg-select-menu option {
    background-color: #FAFAFA;
}

label{
    font-weight: bold;
}

.table-questoes{
    margin-bottom: 60px !important;
}

.table-questoes td:first-child{
    width: 60px;
}

.table-questoes td:nth-child(2){
    width: 200px;
}

.table-questoes td:last-child{
    width: 80px;
}